{% extends 'base.html.twig' %}

{% block film %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Séries</title>
</head>
    <body>
        <a href="{{ path('wild_film', {'navet':'mon-film-prefere'}) }}">Mon film préféré</a>
        <br>
        <a href="{{ path('wild_film', {'navet':"la-guerre-des-etoiles---l'empire-contre-attaque"}) }}">La Guerre des Etoiles - L'Empire contre-attaque</a>
        <h1>{{ carotte }}.</h1>
    </body>
</html>
{% endblock %}
