{%  extends "base.html.twig"  %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Cyril Canoine">
    <meta name="description" content="First page for a Wild-Séries">
    <title>Wild Séries</title>
</head>

<body>
    
    <section>
        <h2 class="fellow">Hello Wilders !<br><span></h2>
    </section>
    <section class="mushroom">
        <article class="photo"><a href="series.html.twig"></a>Séries</article>
        <article class="photo"><a href="films.html.twig"></a>Films</article>
        <article class="photo"><a href="#"></a>Suggestion du jour</article>
    </section>

    <hr>

    <footer>
        <section class="ledger">
            <a class="alpha" href="#">A propos</a>
            <a class="alpha" href="series.html.twig">Séries</a>
            <a class="alpha" href="films.html.twig">Films</a>
        </section>
        <section class="yellow">
            <a class="alpha" href="#">F.A.Q.</a>
            <a class="alpha" href="#">Copyrights</a>
            <a class="alpha" href="#">Mentions Légales</a>
        </section>
        <section class="Sauron">
            <a class="omega" href="#">Wild Séries</a>
            <a class="omega" href="#">Suivez-nous sur Twitter</a>
        </section>
    </footer>
</body>

</html>
{% endblock %}
