    <nav>
        <ul>
            <li>Wild Séries</li>
            <li class="fellow"><a href="series.html.twig">Séries</a></li>
            <li><a href="films.html.twig">Films</a></li>
            <li><a href="#">Nous contacter</a></li>
        </ul>
    </nav>
